@using WebSample.Models
@model List<SyncPerson>

@{
    ViewData["Title"] = "View Persons";
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Age</th>
                <th>IsForeigner</th>
                <th>IsVaccinated</th>
                <th>VaccineName</th>
                <th>VaccinationDate</th>
                <th>VaccinePhase</th>
                <th>VaccinationAreaID</th>
                <th>SyncID</th>
                <th>KnowledgeID</th>
                <th>TimeStamp</th>
                <th>Deleted</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var data = Model[i];
                <tr>
                    <td>@data.ID</td>
                    <td>@data.Name</td>
                    <td>@data.Birthday</td>
                    <td>@data.Age</td>
                    <td>@data.IsForeigner</td>
                    <td>@data.IsVaccinated</td>
                    <td>@data.VaccineName</td>
                    <td>@data.VaccinationDate</td>
                    <td>@data.VaccinePhase</td>
                    <td>@data.VaccinationAreaID</td>
                    <td>@data.SyncID</td>
                    <td>@data.KnowledgeID</td>
                    <td>@data.TimeStamp</td>
                    <td>@data.Deleted</td>
                </tr>
            }
        </tbody>
    </table>
</div>
