@model IEnumerable<ServerApp.Models.SyncPerson>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SynchronizationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsForeigner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVaccinated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccinationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccinePhase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccinationArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatabaseInstanceId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SynchronizationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsForeigner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVaccinated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccinationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccinePhase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccinationArea.CityDistrict)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatabaseInstanceId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
